:root{
  --main-font: 'proxima-nova';

  --large-font-size: 60px;
  --medium-font-size: 40px;
  --small-font-size: 20px;

  --bg-color: whitesmoke;
  --heading-color: black;

  --bg-color: blanchedalmond;
  --heading-color: #ee3400;
}

body{
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--bg-color);
}

.heading{
  color:var(--heading-color);
  font-family: var(--main-font);
}

h1.heading{
  font-size: var(--large-font-size);
}

h2.heading{
  font-size: var(--medium-font-size);
}

h3.heading{
  font-size: var(--small-font-size);
}

p{
  color:black;
  font-family: var(--main-font);
  font-size: var(--small-font-size);
}

.collect-container{
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section{
  grid-column: auto;
}
